@import views.html.components.paragraph
@import views.html.components.jumbotron
@()

@main("PXL iTalent") {
    <div class="container">
        @jumbotron("Eindreflectie!", "Wat vond ik er nou echt van?!")

        <div class="row">
            <p>
                In mijn ogen heb ik als Switch2IT-student de X-factor al aangetoond vanaf het moment dat ik in 2019 voor het eerst PXL binnenliep bij de open dag.
            </p>
            <p>
                Die dag sprak ik Tristan Fransen. Hij vertelde mij dat ik beter goed wist waaraan ik zou gaan beginnen.
                'Je werkt?'. 'Ja'. 'Full-time'? 'Ja'.
               'Nou dan moet je sowieso 1 dag minder gaan werken, dat wordt een school dag. Je zult minstens 30 uur per week moeten studeren. Laten we zeggen dat de schooldag telt
                als 8 uur, dan zijn er nog 22 uur over. Dus dan moet je ook op za/zo 8 uur per dag studeren. Dan blijven er nog 22 - 16 = 8u over om doordeweeks in de avonden te studeren'.
            </p>
            <p>
                Toch ben ik het diepe in gesprongen. Ik heb ervoor gekozen om mijn leven 3 jaar lang op slot te gooien om deze nieuwe route in te slaan met mijn leven. Het was zenuwslopend en op momenten
                ook gewoon too much! Maar toen ik bij de PXL Handshake-Event in 2021 mijn eerste IT-job landde bij Eurofins Digital Testing (Hasselt), was het elke seconde waard.
                Intussen ben ik alweer geswitcht naar een job in Nederland als Java Developer voor Triodos Bank, waar ik mijn passie voor IT kan combineren met mijn empathie en compassie
                voor het milieu en het klimaat.
            </p>
            <p>
                De projecten voor iTalent hebben mij veel gebracht. Ik ben bovenal gecharmeerd van Scala en kijk er naar uit om deze technologie meer te gaan ontdekken.
                Ik ben ook echt fier dat ik voor het eerst gewerkt heb met een low-level taal (i.e. Rust). Wat betreft Electron, ik heb niet eerder zo gemakkelijk zo'n mooie
                desktop applicatie gebouwd als met Electron. Al met al hebben die drie projecten mij doen inzien dat het belangrijk en leuk is
                om tijd te investeren in het leren kennen van nieuwe technologieën!
            </p>
            <p>
                Hoewel de devops-opdracht niet helemaal compleet is zonder proof-of-concept, was het voor mij een zeer speciale activiteit. Het was heel cool
                om een lezing live bij te wonen en kennis op te doen van experts op deze manier.
            </p>
            <p>
                <b>Sterktes: </b> Ik werk hard en leer snel. Ik ben zelfstandig en vind programmeren hartstikke leuk.
            </p>
            <p>
                <b>Zwaktes: </b> Ik kom soms in de knoop met planning. Ik vond het erg moeilijk om tijd vrij te maken voor iTalent totdat de tijd toch heftig begon
                te dringen. Uiteraard is het ook gewoon druk momenteel, maar misschien had ik in de zomer meer kunnen doen?
            </p>
        </div>

        <hr class="my-4"/>

        <div class="row mt-3 align-items-center">
            <div class="col-md-6">
                <h3>X-Factor</h3>
                <p><b>Duurzaam: </b>Triodos Bank is een voorvechter voor duurzaam bankieren. Als Triodos'er staat duurzaamheid bij mij op één!</p>
                <p><b>(Em)passie: </b>Ik heb passie, als Switch2IT-student heb ik dat bewezen!!</p>
                <p><b>Internationaal samen(net)werken: </b>Ik ben als Nederlander naar Vlaanderen gekomen om te studeren, I mean come on!</p>
                <p><b>Ondernemend & innovatief: </b>Ik probeer continu te groeien en te innoveren. De nieuwe AI innovaties volg ik ook op de voet (pro tip: phind.com)</p>
                <p><b>Multi & disciplinariteit: </b>Ik ben een fullstack-developer. Maar ik heb ook een Devops attitude met een achtergrond als tester.</p>
            </div>
            <div class="col-md-6"><img class="img-fluid rounded shadow" src="@routes.Assets.versioned("images/x.png")" alt="Factuur boek(en)"></div>
        </div>

        <hr class="my-4"/>

        <div class="row align-items-center">
            <h1 class="col-md-12 h1 mt-5 mb-5 align-items-center">Bedankt voor het lezen van mijn iTalent portfolio!</h1>
            <small >p.s. don't miss the red button in the far-right of the menubar :)</small>
        </div>

        <hr class="my-4"/>
    </div>
}
