@import views.html.components.paragraph
@import views.html.components.jumbotron
@()

@main("PXL iTalent") {
    <div class="container">
        @jumbotron("Electron!", "Electron")

        <div class="row">
            @paragraph("About Electron",
                "lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor",
                "lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor")
            @paragraph("Get Started",
                "lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor",
                "lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor")
        </div>
    </div>
}
