@import views.html.components.paragraph
@import views.html.components.jumbotron
@()

@main("PXL iTalent") {
    <div class="container">
        @jumbotron("Welkom op mijn pagina!", "Het iTalent porfolio van Rogier Roex")

        <div class="row">
            @paragraph("About Play",
                "lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor",
                "lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor")
            @paragraph("Get Started",
                "lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor",
                "lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor")
        </div>
    </div>
}
