@import views.html.components.paragraph
@import views.html.components.jumbotron
@()

@main("PXL iTalent") {
    <div class="container">
        @jumbotron("Welkom op mijn pagina!", "Het iTalent porfolio van Rogier Roex")


        <div class="row">
            @paragraph("About Rogier",
                "In 2020 ben ik bij PXL begonnen als student van de Switch2IT-opleiding. Voor aanvang van deze studie had ik gedurende 1,5 jaar al wat kennis opgedaan van de programmeertalen Java, Python en C#. Naast mijn studie werkte ik als conctactcentermedewerker in Nederland. Sindsdien ben ik al geswitcht naar een job als Software Tester en Java Developer.",
                "Niets had me kunnen voorbereiden op het moordend tempo van de opleiding. De afgelopen 3 jaren zijn een grote uitdaging geweest. Ik ben enorm trots dat ik het zover heb geschopt in de opleiding (even opscheppen: zonder herkansingen) is een enorme mijlpaal voor mij. Ik hoop dat mijn drie projecten aantonen dat ik de X-Factor heb!")
            @paragraph("About iTalent",
                "Er zijn drie activiteiten uitgevoerd. Alle drie de activiteiten zijn gericht op mijn grootste hobby van dit moment: het leren van nieuwe technologieën en het groeien als software ontwikkelaar.",
                "Electron, Rust, Scala. In ieder van deze technologieën heb ik een soort applicatie gebouwd. Deze projecten zijn opgebouwd in de periode van begin april tot heden. Het uiteindelijke doel is om een applicatie te bouwen waarin je gemakkelijk jouw financiën kunt bijhouden. Hoewel de applicatie nog lang niet af is, wordt er een begin gemaakt met behulp van de projecten voor iTalent.")
        </div>

        <hr class="my-4"/>

        <div class="row m-3 align-items-center">
            <img class="img-thumbnail rounded shadow" src="@routes.Assets.versioned("images/logo_pxl_digital.png")" alt="Screenshot folder">
        </div>

    </div>
}
