@()

@main("Scala") {
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Scala!</h1>
            <p class="lead">Scala</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>About Scala</h2>
                <p>
                    Scala is a ................
                </p>
                <p>
                    With Scala, you can ................ (Also mention Play)
                </p>
                <p>
                    Explore the Scala and Play documentation to learn more about its features and how to get started
                    with building your own web applications.
                </p>
            </div>

            <div class="col-md-6">
                <h2>Get Started</h2>
                <p>
                    To get started with Play, you can follow the official Play documentation and tutorials.
                    They provide step-by-step instructions on setting up your development environment,
                    creating routes, controllers, and views, and deploying your application.
                </p>
                <p>
                    Start exploring the possibilities of Play and unleash your creativity in building
                    amazing web applications with Scala and Play!
                </p>
            </div>
        </div>
    </div>
}
